@import url("https://fonts.googleapis.com/css?family=Oleo+Script");
@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url("../dist/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
